/*
#140c1c
#442434
#30346d
#4e4a4e
#854c30
#346524
#d04648
#757161
#597dce
#d27d2c
#8595a1
#6daa2c
#d2aa99
#6dc2ca
#dad45e
#deeed6
*/

html, body {
    margin: 0;
    padding: 0;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

@font-face {
    font-family: "SomepxNew";
    src: url("../assets/fonts/SomepxNew.woff") format('woff');
}

body {
    background-color: #deeed6;
    color: #442434;
    font-family: "SomepxNew";
    font-size: 1.5em;
}

h1 {
    text-shadow: 1px 1px #8595a1;
    transform:scale(1.5,1);
    -webkit-transform:scale(1.5,1);
    margin-bottom: 6px;
    margin-top: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom : 5px;
}

.character {
    border: 2px solid #d04648;
    background-color: #dad45e;
    border-radius: 3px;
    margin: 0 auto;
    width: 260px;
    font-family: "SomepxNew";
    font-size: 1em;
    padding: 0px 0px 7px 9px;
}

.character td {
    text-align: left;
    padding: 0;
    line-height: 0.7;
}

.character .bar {
    display: block;
    height: 12px;
    margin-top: 3px;
}

.character .health {
    background-color: #6daa2c;

}

.character .attack {
    background-color: #d04648;
}

.character .speed {
    background-color: #d27d2c;
}

.character .jump {
    background-color: #6dc2ca;
}

.character h4 {
    margin: 0;
    paddin: 0;
    text-align: left;
}

.avatar {
    float: left;
    padding-top: 5px;
}

.button {
    border: 2px solid #dad45e;
    background-color: #d04648;
    color: #deeed6;
    text-shadow: 1px 2px #222222;
    border-radius: 5px;
    display: block;
    height: 32px;
    width: 200px;
    margin: 15px auto;
}

.button:hover {
    background-color:  #442434;
    text-shadow: 0px 0px #8595a1;
}

.button img {
    float: left;
}